%div.container
  - if flash[:contact_errors]
    - flash[:contact_errors].each do |msg| 
      = msg
      
  %h1 Email Seller
      
  %div#new_contact_forms
    = simple_form_for @contact, :method => :post do
    
      = label :contact, :name, 'Name'
      = text_field :contact, 'name', required: true, class: "form-control"
      %br
      
      = label :contact, :email, 'Email'
      = email_field :contact, 'email', required: true, class: "form-control"
      %br
      
      = label :contact, :message, 'Message'
      = text_area :contact, 'message', size: "60x12", class: "form-control"
      %br
      
      = hidden_field :contact, 'nickname'
      
      %br
      = submit_tag 'Send message', class:"btn btn-primary"
      = link_to 'Cancel', session[:return_to], class:"btn btn-danger"