-#  This file is app/views/items/index.html.haml


%div.col-sm-2.float.float-left#categories
  = form_tag items_path, :method => :get, :id =>"categories_form" do
    Refine by:
    %br
    - @all_categories.each do |category|
      = check_box_tag "categories[#{category}]",1, @filtered_categories.include?(category), :id =>"categories_#{category}"
      = category
      %br
    %br
    = submit_tag 'Refresh', :id =>"categories_submit", class:"btn btn-info"


    
-#/////////TODO///////////
-#////need to change check_box_tag into %ul///////////
-#///Filtering not working////

-#//maybe ul, then filter_by just like sort_by

%div.col-sm-10#details
  %h1#all_lists Lists
  %br
  %table.table.table-striped.table-hover#items_table
    %thead.thead-dark
      %tr.info
        -# %th.col Image
        %th.col Category
        %th{:class =>("hilite" if @hilite == "title"), :id =>"title_header"}= link_to "Title", items_path(:sort_by=>:title, :categories => params[:categories])
        %th.col Price
        %th.col Seller
        %th{:class =>("hilite" if @hilite == "post_date"), :id =>"post_date_header"}= link_to "Posting Date", items_path(:sort_by=>:post_date, :categories => params[:categories])
        
    %tbody#myTable
      - @items.each do |item|
        %tr
          -# %td= link_to(image_tag(item.attachments[0].url)) if item.attachments?
          %td= item.category
          %td= link_to "#{item.title}", item_path(item)
          %td= "$#{number_with_precision(item.price, :precision => 2)}"
          %td= item.user_name
          %td= item.post_date.strftime("%Y-%m-%d %I:%M %P")

  %a.button.btn.btn-primary.btn{:type => "button", :href => new_item_path} List Your Own
